

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Comfortaa light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/font/Comfortaa-Light.ttf) format("opentype");
}
@font-face {
  font-family: 'Comfortaa Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/font/Comfortaa-Bold.ttf) format("opentype");
}

* {
    cursor: none;
}
.cursor {
    --size: 8px;
    height: var(--size);
    width:  var(--size);
    border-radius: 50%;
    position: absolute;
    z-index: 10000;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.cursor.cursor-shadow {
    background-color: transparent;
    border: 1px solid #02FF02;
    --size: 40px;
    transition: top .2s, left .2s,
                width .2s, height .2s,
                background-color .2s, border-color 0.2s;
    transition-timing-function: ease-out;
}
.cursor.cursor-dot {
    background: #02FF02;
    transition: width .2s, height .2s;
}
.cursor-shadow.active {
    --size: 80px;
    border-color: rgba(255,255,255, 0);
    background-color: rgba(255,255,255,.1);
}
.cursor-dot.active {
      --size: 0;
}